@charset "UTF-8";

.transaction-negative-expected {
	background-color: #ffe5e5!important;
}

.transaction-negative-executed {
	background-color: #ea9999!important;
}

.transaction-positive-expected {
	background-color: #eaffe5!important;
}

.transaction-positive-executed {
	background-color: palegreen!important;
}

.transaction-header-side-padding {
	padding-left: 0.5em;
	padding-right: 0.5em;
}