@charset "ISO-8859-1";

.group-item-indend {
	padding-left: 0.5em !important;
}

.group-item-top-bottom {
	/*TODO find correct elements*/
	padding-top: 0.1em !important;
	padding-bottom: 0.1em !important;
}